#
# reserved values
#
255     local
254     main
253     default
0       unspec
#
# local
#
#1      inr.ruhep
{% set count = namespace(a=1) %}
{% for interface in ansible_interfaces %}
{% if 'ens' in interface %}
{{ count.a }}       {{ interface }}
{% set count.a = count.a + 1 %}
{% endif %}
{% endfor %}